@import "./variables.scss";

body {
  background-color: $dark-primary;
  color: $light-primary;
}

.nav {
  top: 0 !important;

  .gnb {
    top: 0 !important;
  }
}

.emptyDiv {
  height: 100px;

  @media (max-width: 500px) {
    height: 20px;
  }
}

.AboutPage {
  font-size: 1em;
  font-family: $primary-font;

  h1 {
    font-weight: bold;
  }
}
