$dark-primary: #1f1f24;
$light-primary: #dcdce5;
$main-accent: #4cdc74;
$neutral-color: #666666;
$card-height-large-screen: 20rem;
$card-height-mobile: 12rem;
$primary-font: lato, Arial, Helvetica, sans-serif;
